<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @tecpost, local: true) do |f| %>
        <div class="form-group">
          <%= f.label "タイトル" %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>  
          
        <div class="form-group">
          <%= f.label "メッセージ" %>  
          <%= f.text_area :content, class: 'form-control', rows: 6 %>
        </div>

        <div class="field">
          <%= f.label "画像をアップロード" %> 
          <%= f.file_field :image %>
        </div>
        
        <%= f.submit '送信', class: 'btn btn-primary btn-block mt-2 mb-3' %>
        
<% end %>         

    </aside>
    <div class="col-sm-8">
      <%= render 'tecposts/tecposts', tecposts: @tecposts %>
      
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tecposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>